@model PhotoAlbumDemo.Models.User
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="bg-dark collapse" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">it's my first application on bootstrap and asp.net</p>
                </div>
                <div class="col-sm-4 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class=" text-white"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
                        <li><a href="#" class=" text-white"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a></li>
                        <li><a href="#" class=" text-white"><i class="fa fa-vk" aria-hidden="true"></i> VK</a></li>
                        <li><a href="#" class=" text-white"><i class="fa fa-envelope-o" aria-hidden="true"></i> Email me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand">Photo<i class="fa fa-thumbs-up" aria-hidden="true">Album</i></a>
            <form class="form-inline">
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Log in</button>
            </form>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="true"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <h1>Registration</h1>
    @using (Html.BeginForm("Register", "Acount", FormMethod.Post, new { @role = "form"}))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        <div class="row form-group">
            <div class="col">
                @Html.TextBoxFor(m => m.FirstName, new {@class = "form-control", @placeholder = "First name" })
            </div>
            <div class="col">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last name" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col">
                @Html.TextBoxFor(m => m.Email, new { @type = "email", @class = "form-control", @placeholder = "Email" })
            </div>
            <div class="col">
                @Html.TextBoxFor(m => m.Pass, new { @type = "password", @class="form-control", @placeholder="Password"})
            </div>
        </div>
        <dic class="form-group">
            <input class="btn btn-secondary" type="submit" value="Register"/>
        </dic>
    }
    <footer class="text-muted">
        <div class="container">

        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/holder")
</body>
</html>




